<%= simple_form_for(@tweet) do |f|%>
<%f.error_notification %>
  <div class="field">
    <div class="control">
      <%=f.input :tweet, label: "New Tweet", input_html: {class:"textarea"}, wrapper: false, 
      lable_html: {class: "label"}, placeholder: "Compose new tweet"%>
    </div>
  </div>
  <%= f.button :submit, class: "button is-info"%>
<% end %>
